.section-title {
    margin-top: 30px;
    font-size: 50px;
    transition: transform .5s ease-in-out;
}

.section-title:hover {
    
    transform: translate(5%);
    cursor: pointer;
}

.section-text {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 20px;
}

.section-picture {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}




