.contact-card {
    margin-top: 100px;
    padding-top: 20px;
    background-color: #dfe6e9;
    color: #2d3436;
    /* color: #dfe6e9;
    background-color: #2d3436;; */
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    margin-top: 20px;
    
}

.contact-card-body {
    margin-top: 50px;
    padding-bottom: 25px;
}

.contact-card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    
}

.contact-card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    
}

textarea {
    resize:none;
}

.text-offset {
    margin-left: 40px;
}

.contact-card-icon {
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;
}

.contact-button {
    background-color: #2d3436;
    color: #dfe6e9;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: #2d3436;
    border-style: hidden;
    font-weight: bold;
    transition-duration: 1s;
    font-size: 25px;
    float: right;
}

.contact-button:hover {
    color: #2d3436;
    background-color: #ffaa5a;
    
}

.contact-form-control {
    padding: 5px 10px;
    width: 100%;
    border-style: solid;
    border-color: #b2bec3;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.contact-form-control:focus {
     border-color: #ffaa5a;
    box-shadow: 0 1px 1px #2d3436 inset, 0 0 15px #ffaa5a;
    outline: 0 none; 
}
